#header.d-flex.justify-content-between.align-items-center
	div.d-flex.justify-content-between.align-items-center
		img.img.img-responsive.img-medium.rounded-circle.mr-2(src="assets/Modern-geometric-infographic-template/1154.jpg", alt="Logo fake", title='Logo')
		span.title-1 Accenture Stock Planner
	div.d-flex.justify-content-between.align-items-center
		img.img.img-responsive.img-small(src="assets/user.png", alt="Imagem Usuário", title='Imagem Usuário')
		span.mr-2 {{ user.name }}
		a.mr-2((click)='logout()')
			i.fa.fa-2x.fa-fw.fa-sign-out(title='Logout', alt='Logout')