.row
	.col-2
		#v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
			a#v-pills-estoque-tab.nav-link.active(data-toggle='pill', href='#v-pills-estoque', role='tab', aria-controls='v-pills-estoque', aria-selected='true') Gestão de estoque
			a#v-pills-gestProc-tab.nav-link(data-toggle='pill', href='#v-pills-gestProc', role='tab', aria-controls='v-pills-gestProc', aria-selected='false') Gestão de pessoas
			a#v-pills-gestPessoas-tab.nav-link(data-toggle='pill', href='#v-pills-gestPessoas', role='tab', aria-controls='v-pills-gestPessoas', aria-selected='false') Gestão de pessoas
			a#v-pills-balanco-tab.nav-link(data-toggle='pill', href='#v-pills-balanco', role='tab', aria-controls='v-pills-balanco', aria-selected='false') Balanço financeiro
			a#v-pills-relatorio-tab.nav-link(data-toggle='pill', href='#v-pills-relatoria', role='tab', aria-controls='v-pills-relatorio', aria-selected='false') Relatórios
			a#v-pills-projecao-tab.nav-link(data-toggle='pill', href='#v-pills-projecao', role='tab', aria-controls='v-pills-projecao', aria-selected='false') Projeções
	.col-10
		#v-pills-tabContent.tab-content
			#v-pills-estoque.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-estoque-tab') ...
			#v-pills-gestProc.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-gestProc-tab') ...
			#v-pills-gestPessoas.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-gestPessoas-tab') ...
			#v-pills-balanco.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-balanco-tab') ...
			#v-pills-relatorio.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-relatorio-tab') ...
			#v-pills-projecao.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-projecao-tab') ...
