.row
	.col-12
		mat-sidenav-container.example-container
			mat-sidenav(#sidenav='', mode='side', [(opened)]='asideOpened', (opened)="asideOpened = true", (closed)="asideOpened = false", [fixedInViewport]='true', [fixedTopGap]='77')
				#menu.d-flex.flex-column.align-items-end
					a.menu-item.d-flex.justify-content-between.p-2
						span.mr-2 Gestão de Estoque
						i.fa.fa-fw.fa-cubes
					a.menu-item.d-flex.justify-content-between.p-2
						span.mr-2 Gestão de Pessoas
						i.fa.fa-fw.fa-users
					a.menu-item.d-flex.justify-content-between.p-2
						span.mr-2 Gestão de Processos
						i.fa.fa-fw.fa-gears
					a.menu-item.d-flex.justify-content-between.p-2
						span.mr-2 Gestão de Projeções
						i.fa.fa-fw.fa-line-chart
					a.menu-item.d-flex.justify-content-between.p-2
						span.mr-2 Gestão de Relatórios
						i.fa.fa-fw.fa-file-text
					a.menu-item.d-flex.justify-content-between.p-2
						span.mr-2 Balanço Financeiro
						i.fa.fa-fw.fa-dollar
					a.d-flex.align-self-end.mt-auto.chevron(mat-button='', (click)='toggle()')
						i.fa.fa-chevron-left

			mat-sidenav-content
				#reduced-menu.d-flex.flex-column.align-items-end(*ngIf='!asideOpened')
					a.menu-item.d-flex.justify-content-center.p-2(title='Gestão de Estoque', alt='Gestão de Estoque')
						i.fa.fa-fw.fa-cubes
					a.menu-item.d-flex.justify-content-center.p-2(title='Gestão de Pessoas', alt='Gestão de Pessoas')
						i.fa.fa-fw.fa-users
					a.menu-item.d-flex.justify-content-center.p-2(title='Gestão de Processos', alt='Gestão de Processos')
						i.fa.fa-fw.fa-gears
					a.menu-item.d-flex.justify-content-center.p-2(title='Gestão de Projeções', alt='Gestão de Projeções')
						i.fa.fa-fw.fa-line-chart
					a.menu-item.d-flex.justify-content-center.p-2(title='Gestão de Relatórios', alt='Gestão de Relatórios')
						i.fa.fa-fw.fa-file-text
					a.menu-item.d-flex.justify-content-center.p-2(title='Balanço Financeiro', alt='Balanço Financeiro')
						i.fa.fa-fw.fa-dollar
					a.d-flex.align-self-end.mt-auto.chevron(mat-button='', (click)='toggle()')
						i.fa.fa-chevron-right
				#content-area.d-block.float-left
					app-principal
